.DataCard{
    width: 20%;
    height: auto;
    box-shadow: 0 2px 3px rgb(238, 238, 238);
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
    margin: 8px;
    position: relative;
    border-radius: 8px;
    background: white;
    text-align: right;
    padding: 8px;
}

.DataCard p,
.DataCard hr{
    margin: 0;
}

.DataCard .cardIcon{
    position: absolute;
    width: 30%;
    height: 50%;
    box-shadow: 0 4px 8px #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    top: -20%;
    left: 1rem;
    background: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}